<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Women Who Code DC</h5>
        <p class="grey-text text-lighten-4">Here are additional links about WWC-DC Resources</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.womenwhocode.com/dc">Chapter Site</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.zurihunter.com/conference-talks/using-gravatar">Presentation</a></li>
          <li><a class="grey-text text-lighten-3" href="http://github.com/womenwhocodedc/ruby-on-rails-community/blob/master/rails_guide.md">Rails Resources</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 WWC-DC
    <a class="grey-text text-lighten-4 right" href="http://www.zurihunter.com">Zuri Hunter</a>
    </div>
  </div>
</footer>
