<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'Using Gravatar', root_path, {:class=>"brand-logo"}  %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'New Contact', new_contact_path, {:class=>"nav-link"} %></li>
      </ul>
    </div>
  </nav>
</div>
